.App {
  text-align: center;
  min-height: 100vh;
}

h1 {
  text-align: center;
  margin-top: 0;
  padding-top: 1rem;
}

.btn{
  /* soon to have both properties for buttons */
}

.btn.random{
  /* have to set background image */
  background-image: url('/path/to/icon.svg');
}

.btn.play {
  /* have to set background image */
  background-image: url('/path/to/icon.svg');
}